<div class="index">

  <h1 class="main-title">Books Search</h1>

  <form class="form" action="/search">
    <input type="text" name="book" id="book" class="query">
    <input type="submit" value="Search" class="submit">
  </form>

</div>
