@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  background-color: #111;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  padding: 1.5rem calc((100vw - 80rem - 0.5rem) / 2);
}

.index {
  margin-top: 20vh;
}

.main-title {
  text-align: center;
  font-size: 60px;
  color: #fff;
}

.form {
  display: flex;
  justify-content: center;
  padding: 80px;
}

.query {
  width: 60%;
  background-color: #fff;
  font-size: 25px;
  padding: 10px;
  border: none;
}

.query:focus {
  border: none;
}

.submit {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  padding: 0 20px;
  background-color: #fff;
  font-weight: 600;
  border: none;
}

.submit:hover {
  cursor: pointer;
}

.search {
  color: #fff;
  margin: 80px 20px;
}

.list {
  margin: 30px 50px;
}

.item {
  text-align: center;
  padding: 20px;
  transition: transform 0.2s;
}

.item:hover {
  transform: scale(1.1);
}

.item a {
  text-decoration: none;
  color: #111;
}

.item h1,
.item h2 {
  background-color: #fff;
}

.item h2 {
  color: #11111180;
}

.book {
  display: flex;
  color: #fff;
  margin: 100px 20px;
}

.details {
  padding: 0px 40px;
}

.image img {
  width: 200px;
}

.details p {
  margin-top: 20px;
}

.details > div {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.details a {
  text-decoration: none;
  color: #111;
  background-color: #fff;
  padding: 10px 20px;
  font-weight: 600;
  border-radius: 50px;
  transition: transform 0.2s;
}

.details a:hover {
  transform: scale(1.1);
}
